## intelliJ
.idea/
*.iml

## eclipse
.settings/
.classpath
.project

## maven
target/

## osx
.DS_Store

## jenv
.java-version

## Custom
*-override.properties
*-override.xml

##
*.orig

## dotfiles recusrion
.cfg
