[Desktop Entry]
Version=1.0
Type=Application
Name=idea
GenericName=idea
Comment=Best IDE
TryExec=/home/aboivin/.config/scripts/idea
Path=/home/aboivin/workspace
Exec=/home/aboivin/.config/scripts/idea
Icon=/home/aboivin/.config/intellij/intellij.png
Categories=Development;
